In [32]:
print("hello world")

hello world

In [33]:
a=['ravi','mahi']
print(a[0][0])

r

In [34]:
a={1,2,1,2,1}
print(list(a))

[1, 2]

variable reintialization
--------------

In [35]:
a=10
b=30
c=a
a=b
b=c
e=b
c=e
print(a)
print(b)
print(c)
print(e)

30
10
10
10

doc string
------------

In [36]:
a="""my name is ravidra nath
i am from kukatpally
i am currently pursuing my btech final year"""
print(a)

my name is ravidra nath
i am from kukatpally
i am currently pursuing my btech final year

In [37]:
name="ravi"
print(name[1])
print(name[-1])

a
i

In [38]:
l=[1,20,30]
print(l[1])
print(l[2])

20
30

multidatatypes in list:
-----------

In [39]:
l1=["ravi",20,[1,2,3]]
print(l1[0])
print(l1[0][0])
print(l1[1])
print(l1[2][0])

ravi
r
20
1

In [40]:
l2=[(1,2,3)]
print(l2[0])
print(l2[0][0])

(1, 2, 3)
1

In [41]:
l3=[{1,2,3}]
print(l3[0])

{1, 2, 3}

In [ ]:
d={"name":"ravi","age":[20,21]}
print(d)
print(d["name"])
print(d["age"][0])

{'name': 'ravi', 'age': [20, 21]}
ravi
20

In [ ]:
t=(20,)
print(type(t))

<class 'tuple'>

In [ ]:
n=123
print(123//10)

12

In [ ]:
n=123
print(123%10)

3

conversion of integer to binary

In [43]:
print(bin(10))

0b1010

print ascii value for a character

In [46]:

print(ord('a'))

97

giving ascii value to find character

In [48]:
print(chr(95))
print(chr(100))

_
d

In [54]:
a=[1,2,4,6,8,3,7]
for i in a:
    if(i%2==0):
        print(i)

2
4
6
8

In [3]:
num=int(input("enter a number"))
if num%2==0:
    print("it is even number:",num)
else:
    print("it is odd number")

it is even number: 2

convert lowercase alphabet into uppercase alphabet:

In [6]:
char=input("enter any alphabet ")
if char>='a' and char<='z':
    char1=ord(char)-32
    print(chr(char1))
else:
    print("it is uppercase no need to convert")

A